body {
  text-align: center;
}

h1, p {
  background-color: #DDE0E3;    /* Light gray */
}

em, strong {
  background-color: #B2D6FF;    /* Light blue */
  display: inline;             /* This is the default for em and strong */
}

h1 {
  padding: 20px 60px;  /* Vertical  Horizontal */
  border: 1px solid #5D6063;
  border-bottom: 1px solid #5D6063;
}

p {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

/* It's the same as above*/
p {
  padding: 10px 10 10px 10px;  /* Top  Right  Bottom  Left */
  margin-top: 25px;
  margin-bottom: 50px;
}

div {
  color: #FFF;
  background-color: #5995DA;
  font-weight:bold;
  padding: 20px;
  text-align: center;
  border: 5px solid #5D6063;
  border-radius: 10px;
  width: 200px;
  box-sizing: border-box;
  margin: 10px auto; /* Vertical  Horizontal */
}

/* principal selector */
* {
  margin: 20px;
  padding: 0;
  box-sizing: border-box;
}
